html {
	font-size: 2vw;
}

body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

a{
	color: #304ffe !important;
}

.blueA{
	color: #304ffe !important;
}

.greenA{
	color: #8bc34a !important;
}

#apps{
	text-align: center;
	font-size: 1.6em;
	overflow-y: hidden;
}

.title_p{
	margin-top: 10px;
}

#mida_intro,
#cat_intro,
#intro,
#whats_up{
	font-size: 1.6em;
}

#whats_up{
	text-align: center;
	margin-bottom: 0px !important;
	height: 4vh;
	margin-top: 2vh;
}

#profile_introRow,
#introRow{
	align-self: center;
	display: flex;
  	justify-content: center;
}

#bootcamp_intro{
	margin-top: 2vh;
	margin-bottom: 8vh;
	font-size: 1em;
}

#mida_link{
	text-decoration: none;
	color: black !important;
}

#mida_link:hover{
	color: #304ffe !important;
}

.icon{
	height: 100px;
	width: 100px;
}

.img,
.info{
	height: 300px;
	max-height: 300px !important;
}

.project_col{
	max-height: 300px;
}

.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.projectInfo{
	text-align: left;
	clear: both;
	font-size: .8em;
}

.icon_credit{
	font-size: .7em;
	margin-bottom: 0px;
}

#profile,
#profile_intro{
	height: 100vh;
	display: flex;
  	justify-content: center;
}

#profile,
#profile_intro{
	margin-top: -8.5vh;
}

#brandNav{
	height: 3.5em;
	margin-top: 2vh;
}

.infoBtn{
  color: black !important;
  border-radius: 0 !important;
  border: solid 1px black !important;
  height: 35px;
  width: 90px;
  text-transform: uppercase;
}

.infoBtn:hover{
 	background-color: white !important;
 	/*border: 0px !important;*/
}

@media (max-width: 992px) {

	#profile,
	#profile_intro{
		height: 100%;
		margin-top: 8.5vh;
	}

	.intro_divs{
		margin-bottom: 4vh;
	}

}