#name:hover{
	cursor: pointer;
}

#name{
	font-weight: 700;
	font-size: 30px;
}

.navLink:hover{
	color: #039be5 !important;
}

.blueA{
	color: #039be5 !important;
}

.greenA{
	color: #8bc34a !important;
}

.footer-copyright{
	font-size: 16px;
	padding: 30px;
}

#apps{
	margin-bottom: 10%
}

#contactSection{
	margin-bottom: 10%;
}

.contactInfo{
	font-size: 18px;
	margin-top: 18%;
	margin-bottom: 18%;
}

#contactInfoSection{
	margin-top: 5%;
	padding-left: 3%;
}

.contact-form {
  width: 100%;
}

.contact-form-header {
  margin-bottom: 3%;
  font-size: 32px;
}

#contactMsg{
	font-size: 20px;
	margin-bottom: 8%;
}

#name_input,
#mail_input,{
 	border-color: white !important;
	outline: none !important;
}

input{
	outline: none !important;
}

#name_input,
#mail_input,
#msg {
  width: 95%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

#msg {
  height: 150px;
  border-color: #bbc;
}

.label-name,
.label-msg,
.label-mail {
  font-size: 17px;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  border: 0;
}


#intro{
	font-size: 3rem;
	text-align: left;
	margin-top: 3%;
}

#gif{
	border-radius: 50%;
	height: 400px;
	width: 400px;
}

#introRow{
	margin-top: 2%;
}

#projectScroll{
	font-weight: 600;
	cursor: pointer;
}

body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

a{
	color: black !important;
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}
.icon{
	height: 100px;
	width: 100px;
}

.img{
	height: 300px;
}

.info{
	height: 250px;
	margin: 10px;
	padding-top: 0px;
}

.row{
	text-align: center;
}

.projectInfo{
	text-align: left;
	clear: both;
	font-size: 17px;
}

.skillText{
	margin-top: 20px;
}

#profile{
	height: 100vh;
}

.rowLabel{
	margin-top: 35px;
	margin-bottom: 70px;
}

#brandNav{
	border-radius: 50%;
	height: 65px;
	margin-top: -20%;
}

.profileClass{
	margin-top: 15%;
}

.navbar{
	font-size: 35px;
	padding: 10px 130px 10px 130px;
	background: white !important;
	border-bottom: none !important;
}

.navbar-scroll{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
	0 1px 5px 0 rgba(0,0,0,0.12), 
	0 3px 1px -2px rgba(0,0,0,.12);
}

.submitBtn,
.infoBtn{
  position: relative;
  height: 35px;
  width: 90px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-size: 15px;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
 }

.submitBtn,
.infoBtn{
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}

.submitBtn:before,
.infoBtn:before{
  position:absolute;  
  content:"";
  background: url(https://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.submitBtn:after,
.infoBtn:after {
  content: "";
  position: absolute;
  background: #039be5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

.submitBtn:hover,
.infoBtn:hover{
  color:white !important;
  border: 0px #039be5 solid;
}

.submitBtn:hover:before,
.infoBtn:hover:before {
  opacity: .8;
}

.submitBtn:hover:after,
.infoBtn:hover:after {
  top: 0;
}

.page-footer{
	box-shadow: 0 .7px 8px 0 rgba(0,0,0,.9)
}

#email,
#message{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	box-shadow: none !important;
}

#message{
	width: 300px;
	/*height: 300px;*/
}

@media only screen and (max-width: 1024px){
	body{
		max-width: 1024px !important;
	}

	#gif{
		height: 350px;
		width: 350px;
	}

	#introRow{
		margin-top: 25% !important;
	}
}

@media only screen and (max-width: 768px){

	body{
		max-width: 768px !important;
	}

	#introRow{
		margin-top: 20%;
	}

	#intro{
		text-align: center;
	}

	.contact-form{
		padding-right: 2%;
		padding-left: 2%;
	}

	.contactInfo{
		margin-top: 5%;
		margin-bottom: 10%;
	}

	.info{
		height: 270px;
		padding-right: 15%;
		padding-left: 15%;
	}
}

@media only screen and (max-width: 420px){
	/*make this just a litle smaller to fit 411*/
	body{
		max-width: 414px !important;
	}

    #brandNav{
		height: 50px;
    }

    #gif{
    	height: 230px;
    	width: 230px;
    }

	#introRow{
		padding-right: 5% !important;
		padding-left: 5% !important;
	}

	#intro{
		font-size: 2.3rem;
	}

	h1{
		font-size: 30px !important;
	}

	h3{
		font-size: 22px !important;
	}

	.contact-form{
		padding-right: 5%;
		padding-left: 5%;
	}

	.contactInfo{
		margin-top: 5%;
		margin-bottom: 10%;
	}

	.info{
		padding-right: 5%;
		padding-left: 5%;
	}

	.submitBtn{
		margin-bottom: 10% !important;
	}

	.navbar{
		text-align: center; 
	}
}

@media only screen and (max-width: 385px){
	/*make this just a litle smaller to fit 411*/
	body{
		max-width: 375px !important;
	}

    #brandNav{
		height: 40px !important;
    }

    #gif{
    	height: 200px;
    	width: 200px;
    }

	#introRow{
		padding-right: 5% !important;
		padding-left: 5% !important;
	}

	#intro{
		font-size: 2rem !important;
	}

	#name{
		padding-right: 0px;
	}

}
